
<div class="row">
  <div class="col-sm">

  </div>
  <div class="col-sm">
    <h1>treely</h1>
  </div>
  <div class="col-sm">

  </div>
</div>


<div class="row" style="background-color:green">
  <form [formGroup]="indexForm">
    <div class="input-group md-form form-sm form-2 pl-0">
      <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search" (blur)="onBlur()" (focus)="onFocus()" formControlName="search" (keyup)="onKey($event)" id="search" autocomplete="off">
      <div class="input-group-append" (click)="doSearch()">
        <span class="input-group-text lime lighten-2" id="basic-text1">
          <i class="fas fa-search text-grey"
             aria-hidden="true"></i>
        </span>


      </div>



    </div>

    <ul [ngClass]="hideSuggestions ? 'd-none' : 'd-inline-block'" id="list">

      <li [class.active]="currentSuggestionSelection == (i+1)" class="suggestion-list" *ngFor="let suggestion of (autocompleteResponse ? autocompleteResponse.suggestionGroups[0].searchSuggestions ? autocompleteResponse.suggestionGroups[0].searchSuggestions : [] : [] );let i = index;">
        <span (click)="useSuggestion(suggestion)">{{suggestion.displayText}} {{i}}</span>
      </li>
    </ul>
  </form>

</div>

<div class="row" style="background-color:blue">
  3
</div>

<div class="row">

  <div class="topnav">
    <div class="row" style="text-align:center;padding-top:2vh">
      <div class="col-4"></div>
      <div class="col-4" style="display:inline-block;text-align:center">

        <h1>treely</h1>


      </div>
      <div class="col-4"></div>
    </div>

  </div>

</div>

<div class="row">
  <div [ngClass]="{'d-none':searchComplete==true}" style="font-size:x-large;min-height: 10vh;
    padding-top: 10vh;
    padding-left: 40vw;
    background-color: white;">
    <i class="fa fa-tree fa-2x fa-spin" aria-hidden="true" id="spinner" style="color:green;text-align:center"> </i>

  </div>
</div>




<div [ngClass]="hideResults ? 'd-none' : 'd-inline-block'" class="" style="padding-bottom:15px">

  <div [ngClass]="!displayWikiExtract || !weHaveWikiExtract ? 'd-none' : 'd-inline-block'" class="container" style="padding-bottom:15px">
    <div class="col-12 card">
      <div class="card-block">
        <h4 class="card-title">From Wikipedia</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        {{this.wikiExtract}}
      </div>
    </div>
  </div>

  <ul class="" style="padding-left:3vw">
    <li *ngFor="let result of results.webPages.value" style="list-style:none">
      <a href="{{result.url}}" class="resultTitle">{{result.name}}</a>
      <br />

      <a href="{{result.url }}" class="resultTitle" style="color:#006621; font-size:small">{{result.url}}</a>
      <br />
      <!--<a href="{{result.url | linkHttp}}" style="color:#006621; font-size:small">{{result.displayUrl}}</a>-->

      <p style="color:#222; font-size:small">{{result.snippet}}</p>
    </li>
  </ul>

  <nav aria-label="Page navigation example">
    on
    c
    <ul class="pagination">
      <li class="page-item">
        ge
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" (click)="doSearch(10,(this.currentPage) * 10)">{{this.currentPage}}</a></li>
      <li class="page-item"><a class="page-link" (click)="doSearch(10,(this.currentPage + 1) * 10)">{{this.currentPage + 1}}</a></li>
      <li class="page-item"><a class="page-link" (click)="doSearch(10,(this.currentPage + 2) * 10)">{{this.currentPage + 2}}</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</div>


<div [ngClass]="!displayWikiExtract || !weHaveWikiExtract ? 'd-none' : 'd-inline-block'" class="container" style="padding-bottom:15px">
  <div class="col-12 card">
    <div class="card-block">
      <h4 class="card-title">From Wikipedia</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      {{this.wikiExtract}}
    </div>
  </div>
</div>

<ul class="" style="padding-left:3vw">
  <li *ngFor="let result of results.webPages.value" style="list-style:none">
    <a href="{{result.url}}" class="resultTitle">{{result.name}}</a>
    <br />

    <a href="{{result.url }}" class="resultTitle" style="color:#006621; font-size:small">{{result.url}}</a>
    <br />
    <!--<a href="{{result.url | linkHttp}}" style="color:#006621; font-size:small">{{result.displayUrl}}</a>-->

    <p style="color:#222; font-size:small">{{result.snippet}}</p>
  </li>
</ul>

<nav aria-label="Page navigation example">
  on
  c
  <ul class="pagination">
    <li class="page-item">
      ge
      <a class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" (click)="doSearch(10,(this.currentPage) * 10)">{{this.currentPage}}</a></li>
    <li class="page-item"><a class="page-link" (click)="doSearch(10,(this.currentPage + 1) * 10)">{{this.currentPage + 1}}</a></li>
    <li class="page-item"><a class="page-link" (click)="doSearch(10,(this.currentPage + 2) * 10)">{{this.currentPage + 2}}</a></li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="nextPage()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

</div>










